*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body{
    background: #eef2f3;
    color: #333;
}

.header{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #1d3557, #457b9d);
    color: white;
}
.dot{
    text-align:center;
    color:#0a0303;
    background: #8ff87b;
}

.profile-img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
}

.subtitle{
    margin-top: 5px;
    font-size: 18px;
    opacity: 0.9;
}

.dock{
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.card{
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card h2{
    margin-bottom: 15px;
    color: #1d3557;
}

.details li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}

.skills{
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.skills h2{
    color: #1d3557;
    margin-bottom: 20px;
}

.skill-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item{
    background: #457b9d;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer{
    text-align: center;
    padding: 15px;
    background: #1d3557;
    color: white;
    margin-top: 30px;
}
/* Social icons container */
.social-icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link img{
    width: 35px;
    height: 35px;
    transition: 0.3s ease;
}

.social-link img:hover{
    transform: scale(1.15);
    filter: brightness(1.2);
}


@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}
