*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Card Layout */
.card{
    width: 100%;
    max-width: 700px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

/* Top Photo Section */
.top{
    display: flex;
    justify-content: center;
    background: #f4f4f4;
    padding: 20px;
}

.profile-pic{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #333;
}

/* Info Section */
.info{
    text-align: center;
    padding: 10px 20px;
}

.name{
    font-size: 28px;
    font-weight: bold;
}

.email, .phone{
    font-size: 18px;
    color: #444;
}

/* Bottom Section */
.bottom{
    display: flex;
    gap: 10px;
    padding: 15px;
}

.left, .right{
    flex: 1;
    background: #eaf5ff;
    padding: 15px;
    border-radius: 10px;
}

.right{
    background: #ffe8f6;
}

/* Headings */
h2{
    margin-bottom: 10px;
    font-size: 22px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 650px){
    .bottom{
        flex-direction: column;
    }

    .profile-pic{
        width: 150px;
        height: 150px;
    }

    .name{
        font-size: 24px;
    }
}
